<div class="data_area">
    <div class="show_area">
        <strong>Title: </strong><span><%= @book.title %></span>
    </div>
        
    <div class="show_area">
        <strong>Body: </strong><span><%= @book.body %></span>
    </div>
    
    <span><%= link_to "Edit", edit_book_path(@book.id) %></span>
    <span>|</span>
    <span><%= link_to "Back", books_path %></span>
    
</div>