<head></head>
<body>
   <div class="data_area">
      <h1 class="header">ようこそ　Bookersへ！</h1>
      <section>
          <p class="top-comment"><strong>Bookers </strong>では、様々な書籍に関するあなたの意見や</p>
          <p class="top-comment">印象を共有し交換することができます</p>
      </section>
      <a class="top-comment" href="/books">start</a>
   </div>
</body>