<h1 class="page_title">ようこそ　Bookersへ！</h1>
<head></head>
<body>
   <section class=" top-comment">
       <h4><strong>Bookers</strong>では、様々な書籍に関するあなたの意見や</h4>
       <h4>印象を共有し交換することができます</h4>
   </section>
   <a class=" top-comment" href="/books">start</a>
</body>